{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
{% if 'angular' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endif %}
{% if 'jquery' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endif %}
{% endblock %}


{% block content %}

<div class="post">
    <article>
        <header>
            <h1>{{ article.title }}</h1>
        </header>
        <div class='post-content'>
            {{ article.content }}
        </div>
    </article>

    <div class="metadata">

        <div class="left">
            <ul>
                <li>
                    <time datetime="{{ article.date.isoformat() }}">
                        {{ article.date.strftime(METADATA_DATE_FORMAT) }}
                    </time>
                </li>
                <li>
                    {% if article.tags %}
                    Tags:
                    {% for tag in article.tags %}
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    {% endfor %}
                    {% endif %}
                </li>
                <li>
                    <a id="comments-button" href="#disqus_thread">Show/read comments</a>
                </li>
            </ul>
        </div>

        <div class="right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tags">All tags</a></li>
            </ul>
        </div>

    </div>

</div>

<script type="text/javascript">
(function () {

    'use strict';

    // Global object
    var App = {};


    // Create button
    App.commentsButton = document.getElementById('comments-button');

    App.commentsButton.onclick = function () {
        // Remove button on click
        App.commentsButton.onclick = function () {
        }

        // Create comments container
        App.disqusContainer = document.createElement('div');
        App.disqusContainer.setAttribute('id', 'disqus_thread');

        // Append container to body
        document.body.appendChild( App.disqusContainer );

        // Your Disqus shortname
        App.disqus_shortname = 'danielfrg';

        // Embed Disqus
        var dsq = document.createElement('script');

        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + App.disqus_shortname + '.disqus.com/embed.js';

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

        window.scrollTo(0, dsq.offsetTop - 200);
    };

})();
</script>

{% endblock %}
