{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container index">
  {% include 'nav.html' %}

  {% for article in articles_page.object_list %}
  <article>
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>

    {{ article.summary | striptags }}

    <div class="meta">
      <div class="left">
        <time datetime="" title="{{ article.date.isoformat() }}" pubdate><i class="fa fa-calendar-o"></i> {{ article.locale_date }}</time>

        <div>
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="tag"><i class="fa fa-tag"></i> {{ tag }}</a>
          {% endfor %}
        </div>
      </div>

      <div class="right">
        <a href="{{ SITEURL }}/{{ article.url }}" class="read-more">Read more <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>

  </article>
  <div class="separator">&equiv;</div>
  {% endfor %}

  <div class="pagination">
    {% if articles_page.has_next() %}
      <a class="prev" href="{{ SITEURL }}/{{ articles_next_page.url }}">&larr; Older</a>
    {% endif %}

    {% if articles_page.has_previous() %}
      <a class="next" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Newer &rarr;</a>
    {% endif %}
  </div>

</div>
{% endblock %}
