<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <p class="navbar-text navbar-right">
          <a href="http://github.com/{{ GITHUB_USERNAME }}" title="on github" class="navbar-link"><i class="fa fa-github"></i></a>
          <a href="http://twitter.com/{{ TWITTER_USERNAME }}" title="on twitter" class="navbar-link"><i class="fa fa-twitter"></i></a>
          <a href="{{ LINKEDIN_PROFILE }}" title="on linkedin" class="navbar-link"><i class="fa fa-linkedin"></i></a>
          <a href="/tags.html" title="tags" class="navbar-link"><i class="fa fa-tags"></i></a>
          <a href="/archives.html" title="archives" class="navbar-link"><i class="fa fa-archive"></i></a>
          <a href="/feeds/all.atom.xml" title="feed" class="navbar-link"><i class="fa fa-rss"></i></a>
        </p>
        <h3 class="brand"><a href="/">Daniel Rodriguez</a></h3>
      </div>
  </nav>