<div class="container header">
    <ul class="nav nav-pills pull-right">
        <li><a href="http://github.com/{{GITHUB_USERNAME}}" title="on github"><i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/{{TWITTER_USERNAME}}" title="on twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{LINKEDIN_PROFILE}}" title="on linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="/tags.html" title="tags"><i class="fa fa-tag"></i></a></li>
        <li><a href="/archives.html" title="archives"><i class="fa fa-archive"></i></a></li>
        <li><a href="/feeds/all.atom.xml" title="feed"><i class="fa fa-rss"></i></a></li>
    </ul>
    <h3 class="brand"><a href="/">Daniel Rodriguez</a></h3>
</div>